{
  "openapi": "3.1.0",
  "info": {
    "title": "processout-api",
    "version": "1.0.3"
  },
  "servers": [
    {
      "url": "https://api.processout.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/invoices": {
      "post": {
        "summary": "Create an invoice",
        "description": "",
        "operationId": "create-an-invoice",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Unique key to your request that will be used for idempotency",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "amount",
                  "currency"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of the invoice (often an internal ID code from the merchant’s systems)."
                  },
                  "amount": {
                    "type": "string",
                    "description": "Amount to be paid. Maximum 4 decimal places supported as per ISO 4217."
                  },
                  "tax": {
                    "type": "object",
                    "description": "Tax information for the invoice.",
                    "properties": {
                      "amount": {
                        "type": "string",
                        "description": "Amount is zero or a positive number representing the tax included in the amount."
                      },
                      "rate": {
                        "type": "string",
                        "description": "Rate is a percentage (0 to 100) representing the rate of tax included in the amount."
                      }
                    }
                  },
                  "currency": {
                    "type": "string",
                    "description": "Currency for payment of the invoice, in ISO 4217 format (for example, USD). Must be a valid ISO 4217 currency code with 3 characters"
                  },
                  "order_id": {
                    "type": "string",
                    "description": "Your unique identifier for the order associated with this invoice. This field is displayed in the Dashboard and ProcessOut uses it to deduplicate invoices and transactions."
                  },
                  "customer_id": {
                    "type": "string",
                    "description": "**_Resource expandable_**<br>Customer linked to the invoice (generally the one making the purchase)."
                  },
                  "verification": {
                    "type": "boolean",
                    "description": "Tags an invoice to be used as an verification invoice. When this is set to true, we will attempt to automatically utilise the lowest amount applicable for a given PSP & Currency. Otherwise, we will default to utilising the invoice amount provided."
                  },
                  "expires_at": {
                    "type": "string",
                    "description": "Expiry date for the invoice",
                    "format": "date"
                  },
                  "auto_capture_at": {
                    "type": "string",
                    "description": "Optional if you want us to auto capture for you. Expected value is a date and time in ISO 8601 format.",
                    "format": "date"
                  },
                  "details": {
                    "type": "object",
                    "description": "Details of the items or products that are being purchased.",
                    "required": [
                      "name",
                      "amount"
                    ],
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Name of the item or product, which represents an item on a receipt.<br>_Maximum 80 characters long_"
                      },
                      "amount": {
                        "type": "string",
                        "description": "Amount charged for this item or product."
                      },
                      "type": {
                        "type": "string",
                        "description": "Item or product type. Set this to anything suitable.<br>_Maximum 30 characters long_"
                      },
                      "quantity": {
                        "type": "integer",
                        "description": "Quantity of the item or product. Default value is 0.",
                        "format": "int32"
                      },
                      "metadata": {
                        "type": "object",
                        "description": "Metadata related to the invoice detail, in the form of key-value pairs (string - string).",
                        "properties": {}
                      },
                      "category": {
                        "type": "string",
                        "description": "Category of the item or product. Can be `food`, `entertainment`, `home`, `appliance`, `bidding`, `gift`, `technology`, `media`, `communication`, `health`, `sport`, `personal-service`, `professional-service`, `clothing`, `travel`, `tickets`, `transport` or `other`."
                      },
                      "reference": {
                        "type": "string",
                        "description": "Reference of the item or product.<br>_Maximum 255 characters long_"
                      },
                      "description": {
                        "type": "string",
                        "description": "Description of the item or product.<br>_Maximum 255 characters long_"
                      },
                      "brand": {
                        "type": "string",
                        "description": "Brand of the item or product.<br>_Maximum 80 characters long_"
                      },
                      "model": {
                        "type": "string",
                        "description": "Model of the item or product.<br>_Maximum 80 characters long_"
                      },
                      "discount_amount": {
                        "type": "string",
                        "description": "Discount amount (when the discount is listed as a separate item on a receipt)."
                      },
                      "condition": {
                        "type": "string",
                        "description": "Condition of the product. Can be `new`, `refurbished`, `used` or `other`."
                      },
                      "marketplace_merchant": {
                        "type": "string",
                        "description": "Marketplace merchant ID of the item or product."
                      },
                      "marketplace_merchant_is_business": {
                        "type": "boolean",
                        "description": "Denotes whether or not the marketplace merchant is a business."
                      },
                      "marketplace_merchant_created_at": {
                        "type": "string",
                        "description": "Date and time when the merchant was created.<br>_RFC1123 date or timestamp_",
                        "format": "date"
                      }
                    }
                  },
                  "risk": {
                    "type": "object",
                    "description": "Risk assessment for the invoice.",
                    "properties": {
                      "score": {
                        "type": "string",
                        "description": "Scoring of the invoice. No validation done on this field because it is used to forward risk information to compatible payment providers.<br>_Maximum 12 characters long_"
                      },
                      "is_legit": {
                        "type": "boolean",
                        "description": "Denotes whether or not the invoice is legitimate."
                      },
                      "skip_gateway_rules": {
                        "type": "boolean",
                        "description": "Flag to skip payment gateway fraud engine rules. (This is only available on certain compatible gateways. Contact us for more information.)"
                      }
                    }
                  },
                  "device": {
                    "type": "object",
                    "description": "Information about the device and channel used by the customer to initiate the payment.",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "ID of the device. This can be anything but would usually be a UUID generated by a third-party anti-fraud solution.<br>_Maximum 100 characters long_"
                      },
                      "channel": {
                        "type": "string",
                        "description": "Channel used by the device. Must be `web`, `ios`, `android` or `other`. Note: Please only set this field to `ios` or `android` if you are utilising our mobile SDKs."
                      },
                      "ip_address": {
                        "type": "string",
                        "description": "IP address of the device.<br>_Must be a valid IP address_"
                      }
                    }
                  },
                  "external_fraud_tools": {
                    "type": "object",
                    "description": "Information to forward to external fraud tools.",
                    "properties": {
                      "forter": {
                        "type": "string",
                        "description": "Information for the Forter fraud prevention service.",
                        "format": "json"
                      },
                      "signifyd": {
                        "type": "string",
                        "description": "Information for the Signifyd fraud prevention service.",
                        "format": "json"
                      },
                      "ravelin": {
                        "type": "string",
                        "description": "Information for the Ravelin fraud prevention service.",
                        "format": "json"
                      }
                    }
                  },
                  "shipping": {
                    "type": "object",
                    "description": "Shipping information for the invoice.",
                    "properties": {
                      "amount": {
                        "type": "string",
                        "description": "Amount charged for shipping."
                      },
                      "method": {
                        "type": "string",
                        "description": "Delivery method. Can be `web`, `collect-at-shop`, `relay`, `travel-station`, `home`, `shipping`, `locker` or `other`."
                      },
                      "provider": {
                        "type": "string",
                        "description": "Delivery provider.<br>_Maximum 32 characters long_"
                      },
                      "delay": {
                        "type": "string",
                        "description": "Shipment delay. Can be `express`, `priority`, `standard` or `other`."
                      },
                      "address1": {
                        "type": "string",
                        "description": "First line of the delivery address.<br>_Maximum 255 characters long_"
                      },
                      "address2": {
                        "type": "string",
                        "description": "Second line of the delivery address.<br>_Maximum 255 characters long_"
                      },
                      "state": {
                        "type": "string",
                        "description": "State or county of the delivery address.<br>_Maximum 80 characters long_"
                      },
                      "city": {
                        "type": "string",
                        "description": "City of the delivery address.<br>_Maximum 80 characters long_"
                      },
                      "country_code": {
                        "type": "string",
                        "description": "Country code (`US`, `FR`...) of the delivery address.<br>_Must be a valid ISO 3166 country code with 2 characters_"
                      },
                      "zip": {
                        "type": "string",
                        "description": "ZIP code of the delivery address.<br>_Maximum 16 characters long_"
                      },
                      "phone_number": {
                        "type": "object",
                        "description": "Phone number of the shipment recipient",
                        "properties": {}
                      },
                      "expects_shipping_at": {
                        "type": "string",
                        "description": "Expected date of delivery.<br>_RFC1123 date or timestamp_",
                        "format": "date"
                      },
                      "relay_store_name": {
                        "type": "string",
                        "description": "Name of the store that the order must be collected from.<br>_Maximum 100 characters long_"
                      },
                      "email": {
                        "type": "string",
                        "description": "Shipping email address.<br>_Must be a valid email_"
                      },
                      "first_name": {
                        "type": "string",
                        "description": "First name of the shipping address.<br>_Maximum 80 characters long_"
                      },
                      "last_name": {
                        "type": "string",
                        "description": "Last name of the shipping address.<br>_Maximum 80 characters long_"
                      }
                    }
                  },
                  "billing": {
                    "type": "object",
                    "description": "Billing information for the invoice. This address will be used to populate the Customer and Card address if empty.",
                    "properties": {
                      "address1": {
                        "type": "string",
                        "description": "First line of the billing address.<br/>_Maximum 255 characters long_"
                      },
                      "address2": {
                        "type": "string",
                        "description": "Second line of the billing address.<br/>_Maximum 255 characters long_"
                      },
                      "state": {
                        "type": "string",
                        "description": "State or county of the billing address.<br/>_Maximum 80 characters long_"
                      },
                      "city": {
                        "type": "string",
                        "description": "City of the billing address.<br/>_Maximum 80 characters long_"
                      },
                      "country_code": {
                        "type": "string",
                        "description": "Country code (`US`, `FR`...) of the address."
                      },
                      "zip": {
                        "type": "string",
                        "description": "ZIP code of the address.<br/>_Maximum 16 characters long_"
                      }
                    }
                  },
                  "statement_descriptor": {
                    "type": "string",
                    "description": "Item that will be listed for this purchase on the customer’s bank statement.<br>_Maximum 25 characters long, should only contain letters, numbers, spaces, dots, asterisks and forward slashes_"
                  },
                  "statement_descriptor_phone": {
                    "type": "string",
                    "description": "Support phone number for this purchase on the customer’s bank statement."
                  },
                  "statement_descriptor_city": {
                    "type": "string",
                    "description": "City shown for this purchase on the customer’s bank statement. Maximum 22 characters long. Should only contain letters and numbers."
                  },
                  "statement_descriptor_company": {
                    "type": "string",
                    "description": "Your company name to show on the customer’s bank statement."
                  },
                  "statement_descriptor_url": {
                    "type": "string",
                    "description": "Support URL for this purchase on the customer’s bank statement."
                  },
                  "initiation_type": {
                    "type": "string",
                    "description": "Represent the initiation type of the transaction which can be Customer Initiated Transaction (`cit`) or Merchant Initiated Transaction (`mit`).<br>_Allowed values are: `cit` or `mit`_"
                  },
                  "payment_intent": {
                    "type": "string",
                    "description": "The type of payment flow that generated the transaction.<br>_Allowed values are: `one-off`, `recurring`, `recurring-standing-order`, `recurring-subscription`, `installment`, `unscheduled`, `unscheduled-delayed-charge`, `unscheduled-resubmission`, `unscheduled-no-show` or `unscheduled-reauthorization`_. <br><br>This field should be used in combination with the `initiation_type` field to tag scenarios such as initial CIT of a recurring sequence."
                  },
                  "payment_type": {
                    "type": "string",
                    "description": "Optional information about the payment type<br>_Allowed values are “moto” or “ecommerce”_"
                  },
                  "return_url": {
                    "type": "string",
                    "description": "For [APMs](../docs/alternative-payment-methods), this is the URL to return to the app after payment is accepted.<br>_Must be a valid URL_"
                  },
                  "webhook_url": {
                    "type": "string",
                    "description": "Custom [webhook](/webhooks) URL for this purchase.<br>_Must be a valid URL_"
                  },
                  "sca_exemption_reason": {
                    "type": "string",
                    "description": "Optional reason for requesting SCA exemption (Note: This must also be supported by the PSP. Please contact us for more information.)<br>_Allowed values are: `low-value`, `trusted-beneficiary` or `transaction-risk-analysis`_"
                  },
                  "challenge_indicator": {
                    "type": "string",
                    "description": "Optional challenge indicator field when requesting 3DS2 (Note: This must also be supported by the PSP. Please contact us for more information.)<br>_Allowed values are: `no-preference`, `no-challenge-requested`, `challenge-requested`, `challenge-requested-mandate`, `no-challenge-requested-tra-performed`, `no-challenge-requested-data-share-only`, `no-challenge-requested-sca-performed`, `no-challenge-requested-whitelist-exemption`, `challenge-requested-whitelist-prompt` or `cb-scoring`_"
                  },
                  "unsupported_feature_bypass": {
                    "type": "object",
                    "description": "Bypass payment provider unsupported features set in the transaction",
                    "properties": {
                      "incremental_authorization": {
                        "type": "boolean",
                        "description": "Ignore incremental authorization requests on PSP that do not support it",
                        "default": false
                      }
                    }
                  },
                  "metadata": {
                    "type": "string",
                    "description": "Custom key/value pair (string/string) metadata that can be used to identify the transaction. This information is passed to upstream payment providers that support similar metadata objects. Do not include personal data in this field.",
                    "default": "{}",
                    "format": "json"
                  },
                  "gateway_data": {
                    "type": "string",
                    "description": "Used for custom logics / data sent to payment providers.<br>This field <b>is not standard</b> across providers.",
                    "default": "{}",
                    "format": "json"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"invoice\": {\n        \"id\": \"iv_MyNUnrEwNf7mrXZO1x6x8eeCoTWC8OQG\",\n        \"project_id\": \"proj_IFCgGTmyClrgTOzsschN1y7GJttHVQ7S\",\n        \"subscription_id\": null,\n        \"customer_id\": \"cust_MFW0Z4jtoXLfADjPKlVRl5LxWkCTUgRw\",\n        \"token_id\": null,\n        \"details\": [\n            {\n                \"id\": \"iv_det_M2LqRkMXxkTSu4CWTMY0X4QKrzz2Urbu\",\n                \"name\": \"iPhone 14 Pro\",\n                \"type\": \"Smartphone\",\n                \"amount\": \"1000\",\n                \"quantity\": 1,\n                \"reference\": \"12221341242\",\n                \"description\": \"iPhone 11 Pro 256Gb Red blablabla\",\n                \"brand\": \"Apple\",\n                \"model\": \"14 Pro\",\n                \"discount_amount\": \"0\",\n                \"condition\": \"new\",\n                \"marketplace_merchant\": null,\n                \"marketplace_merchant_is_business\": null,\n                \"marketplace_merchant_created_at\": null,\n                \"category\": \"technology\",\n                \"metadata\": {}\n            }\n        ],\n        \"transaction_id\": \"tr_Cln3zmZ31m5Crcgz5sfggomIiMm3Mmbm\",\n        \"name\": \"Amazing Product\",\n        \"order_id\": \"123456\",\n        \"amount\": \"29\",\n        \"currency\": \"EUR\",\n        \"metadata\": {\n            \"fruit\": \"banana\"\n        },\n        \"gateway_data\": {},\n        \"exemption_reason_3ds2\": \"\",\n        \"challenge_indicator\": \"\",\n        \"sca_exemption_reason\": \"\",\n        \"statement_descriptor\": \"My Company\",\n        \"merchant_initiator_type\": null,\n        \"initiation_type\": \"MIT\",\n        \"payment_intent\": \"recurring\",\n        \"require_backend_capture\": null,\n        \"card_verification\": null,\n        \"return_url\": \"https://mycompany.com/return-url\",\n        \"cancel_url\": null,\n        \"webhook_url\": \"https://mycompany.com/webhook\",\n        \"sandbox\": true,\n        \"url\": \"https://checkout.processout.com/test-proj_IFCgGTmyClrgTOzsschN1y7GJttHVQ7S/iv_MyNUnrEwNf7mrXZO1x6x8eeCoTWC8OQG\",\n        \"created_at\": \"2023-04-21T17:57:22.807583563Z\",\n        \"expires_at\": null,\n        \"risk\": {\n            \"score\": \"100\",\n            \"is_legit\": true,\n            \"skip_gateway_rules\": false\n        },\n        \"device\": {\n            \"id\": \"112233445566\",\n            \"channel\": \"ios\",\n            \"ip_address\": \"1.1.1.1\"\n        },\n        \"shipping\": {\n            \"amount\": \"12\",\n            \"method\": \"home\",\n            \"provider\": \"DHL\",\n            \"delay\": \"express\",\n            \"address1\": \"133 Rue Lamarck\",\n            \"address2\": \"CEDEX 1\",\n            \"city\": \"Paris\",\n            \"state\": \"Ile De France\",\n            \"country_code\": \"FR\",\n            \"zip\": \"75018\",\n            \"phone\": {\n            \t\t\"number\": \"684758495\",\n            \t\t\"dialing_code\": \"0033\"\n        \t\t},\n            \"expects_shipping_at\": \"2023-04-21T17:52:47.828402061Z\",\n            \"relay_store_name\": \"none\"\n        },\n        \"incremental\": false,\n        \"tax\": {\n            \"rate\": \"1\",\n            \"amount\": \"10\"\n        },\n        \"payment_type\": null,\n        \"payment_methods\": [\n            {\n                \"type\": \"applepay\",\n                \"flow\": \"express\",\n                \"applepay\": {\n                    \"merchant_id\": \"merchant.mycompany.processout.com\",\n                    \"country_code\": \"GB\",\n                    \"supported_networks\": [\n                        \"american express\",\n                        \"visa\"\n                    ],\n                    \"merchant_capabilities\": [\n                        \"supports3DS\",\n                        \"supportsCredit\",\n                        \"supportsDebit\",\n                        \"supportsEMV\"\n                    ]\n                }\n            },\n            {\n                \"type\": \"googlepay\",\n                \"flow\": \"express\",\n                \"googlepay\": {\n                    \"allowed_auth_methods\": [\n                        \"PAN_ONLY\",\n                        \"CRYPTOGRAM_3DS\"\n                    ],\n                    \"allowed_card_networks\": [\n                        \"AMEX\",\n                        \"DISCOVER\",\n                        \"JCB\",\n                        \"MASTERCARD\",\n                        \"VISA\"\n                    ],\n                    \"allow_prepaid_cards\": true,\n                    \"allow_credit_cards\": true,\n                    \"gateway\": \"processout\",\n                    \"gateway_merchant_id\": \"proj_IFCgGTmyClrgTOzsschN1y7GJttHVQ7S\"\n                }\n            },\n            {\n                \"type\": \"apm\",\n                \"display\": {\n                    \"name\": \"Everypay\",\n                    \"logo\": {\n                        \"light_url\": {\n                            \"vector\": \"https://js.processout.com/images/payment-methods/square/everypay.svg\",\n                            \"raster\": \"https://js.processout.com/images/payment-methods/square/everypay-m@4x.png\"\n                        },\n                        \"dark_url\": {\n                            \"vector\": \"https://js.processout.com/images/payment-methods/square/everypay.svg\",\n                            \"raster\": \"https://js.processout.com/images/payment-methods/square/everypay-m@4x.png\"\n                        }\n                    },\n                    \"brand_color\": {\n                        \"light\": \"0x000000FF\",\n                        \"dark\": \"0xFFFFFFFF\"\n                    }\n                },\n                \"apm\": {\n                    \"gateway_configuration_id\": \"gway_conf_yt57esj68rj0ic4egt8bkjp4iin0dwpm.everypay\",\n                    \"redirect_url\": \"https://checkout.processout.com/proj_IFCgGTmyClrgTOzsschN1y7GJttHVQ7S/iv_MyNUnrEwNf7mrXZO1x6x8eeCoTWC8OQG/redirect/gway_conf_yt57esj68rj0ic4egt8bkjp4iin0dwpm.everypay\"\n                }\n            },\n            {\n                \"type\": \"card\",\n                \"display\": {\n                    \"name\": \"Card\",\n                    \"logo\": {\n                        \"light_url\": {\n                            \"vector\": \"https://js.processout.com/images/payment-methods/square/card.svg\",\n                            \"raster\": \"https://js.processout.com/images/payment-methods/square/card-m@4x.png\"\n                        },\n                        \"dark_url\": {\n                            \"vector\": \"https://js.processout.com/images/payment-methods/square/card.svg\",\n                            \"raster\": \"https://js.processout.com/images/payment-methods/square/card-m@4x.png\"\n                        }\n                    },\n                    \"brand_color\": {\n                        \"light\": \"0x000000FF\",\n                        \"dark\": \"0xFFFFFFFF\"\n                    }\n                },\n                \"card\": {\n                    \"cvc_required\": true,\n                    \"cardholder_name_required\": true,\n                    \"scheme_selection_allowed\": true,\n                    \"billing_address\": {\n                        \"collection_mode\": \"full\",\n                        \"restrict_to_country_codes\": [\n                            \"GB\"\n                        ]\n                    },\n                    \"saving_allowed\": false\n                }\n            }\n        ]\n    },\n    \"success\": true\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "invoice": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "iv_MyNUnrEwNf7mrXZO1x6x8eeCoTWC8OQG"
                        },
                        "project_id": {
                          "type": "string",
                          "example": "proj_IFCgGTmyClrgTOzsschN1y7GJttHVQ7S"
                        },
                        "subscription_id": {},
                        "customer_id": {
                          "type": "string",
                          "example": "cust_MFW0Z4jtoXLfADjPKlVRl5LxWkCTUgRw"
                        },
                        "token_id": {},
                        "details": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "example": "iv_det_M2LqRkMXxkTSu4CWTMY0X4QKrzz2Urbu"
                              },
                              "name": {
                                "type": "string",
                                "example": "iPhone 14 Pro"
                              },
                              "type": {
                                "type": "string",
                                "example": "Smartphone"
                              },
                              "amount": {
                                "type": "string",
                                "example": "1000"
                              },
                              "quantity": {
                                "type": "integer",
                                "example": 1,
                                "default": 0
                              },
                              "reference": {
                                "type": "string",
                                "example": "12221341242"
                              },
                              "description": {
                                "type": "string",
                                "example": "iPhone 11 Pro 256Gb Red blablabla"
                              },
                              "brand": {
                                "type": "string",
                                "example": "Apple"
                              },
                              "model": {
                                "type": "string",
                                "example": "14 Pro"
                              },
                              "discount_amount": {
                                "type": "string",
                                "example": "0"
                              },
                              "condition": {
                                "type": "string",
                                "example": "new"
                              },
                              "marketplace_merchant": {},
                              "marketplace_merchant_is_business": {},
                              "marketplace_merchant_created_at": {},
                              "category": {
                                "type": "string",
                                "example": "technology"
                              },
                              "metadata": {
                                "type": "object",
                                "properties": {}
                              }
                            }
                          }
                        },
                        "transaction_id": {
                          "type": "string",
                          "example": "tr_Cln3zmZ31m5Crcgz5sfggomIiMm3Mmbm"
                        },
                        "name": {
                          "type": "string",
                          "example": "Amazing Product"
                        },
                        "order_id": {
                          "type": "string",
                          "example": "123456"
                        },
                        "amount": {
                          "type": "string",
                          "example": "29"
                        },
                        "currency": {
                          "type": "string",
                          "example": "EUR"
                        },
                        "metadata": {
                          "type": "object",
                          "properties": {
                            "fruit": {
                              "type": "string",
                              "example": "banana"
                            }
                          }
                        },
                        "gateway_data": {
                          "type": "object",
                          "properties": {}
                        },
                        "exemption_reason_3ds2": {
                          "type": "string",
                          "example": ""
                        },
                        "challenge_indicator": {
                          "type": "string",
                          "example": ""
                        },
                        "sca_exemption_reason": {
                          "type": "string",
                          "example": ""
                        },
                        "statement_descriptor": {
                          "type": "string",
                          "example": "My Company"
                        },
                        "merchant_initiator_type": {},
                        "initiation_type": {
                          "type": "string",
                          "example": "MIT"
                        },
                        "payment_intent": {
                          "type": "string",
                          "example": "recurring"
                        },
                        "require_backend_capture": {},
                        "card_verification": {},
                        "return_url": {
                          "type": "string",
                          "example": "https://mycompany.com/return-url"
                        },
                        "cancel_url": {},
                        "webhook_url": {
                          "type": "string",
                          "example": "https://mycompany.com/webhook"
                        },
                        "sandbox": {
                          "type": "boolean",
                          "example": true,
                          "default": true
                        },
                        "url": {
                          "type": "string",
                          "example": "https://checkout.processout.com/test-proj_IFCgGTmyClrgTOzsschN1y7GJttHVQ7S/iv_MyNUnrEwNf7mrXZO1x6x8eeCoTWC8OQG"
                        },
                        "created_at": {
                          "type": "string",
                          "example": "2023-04-21T17:57:22.807583563Z"
                        },
                        "expires_at": {},
                        "risk": {
                          "type": "object",
                          "properties": {
                            "score": {
                              "type": "string",
                              "example": "100"
                            },
                            "is_legit": {
                              "type": "boolean",
                              "example": true,
                              "default": true
                            },
                            "skip_gateway_rules": {
                              "type": "boolean",
                              "example": false,
                              "default": true
                            }
                          }
                        },
                        "device": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "example": "112233445566"
                            },
                            "channel": {
                              "type": "string",
                              "example": "ios"
                            },
                            "ip_address": {
                              "type": "string",
                              "example": "1.1.1.1"
                            }
                          }
                        },
                        "shipping": {
                          "type": "object",
                          "properties": {
                            "amount": {
                              "type": "string",
                              "example": "12"
                            },
                            "method": {
                              "type": "string",
                              "example": "home"
                            },
                            "provider": {
                              "type": "string",
                              "example": "DHL"
                            },
                            "delay": {
                              "type": "string",
                              "example": "express"
                            },
                            "address1": {
                              "type": "string",
                              "example": "133 Rue Lamarck"
                            },
                            "address2": {
                              "type": "string",
                              "example": "CEDEX 1"
                            },
                            "city": {
                              "type": "string",
                              "example": "Paris"
                            },
                            "state": {
                              "type": "string",
                              "example": "Ile De France"
                            },
                            "country_code": {
                              "type": "string",
                              "example": "FR"
                            },
                            "zip": {
                              "type": "string",
                              "example": "75018"
                            },
                            "phone": {
                              "type": "object",
                              "properties": {
                                "number": {
                                  "type": "string",
                                  "example": "684758495"
                                },
                                "dialing_code": {
                                  "type": "string",
                                  "example": "0033"
                                }
                              }
                            },
                            "expects_shipping_at": {
                              "type": "string",
                              "example": "2023-04-21T17:52:47.828402061Z"
                            },
                            "relay_store_name": {
                              "type": "string",
                              "example": "none"
                            }
                          }
                        },
                        "incremental": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        },
                        "tax": {
                          "type": "object",
                          "properties": {
                            "rate": {
                              "type": "string",
                              "example": "1"
                            },
                            "amount": {
                              "type": "string",
                              "example": "10"
                            }
                          }
                        },
                        "payment_type": {},
                        "payment_methods": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "example": "applepay"
                              },
                              "flow": {
                                "type": "string",
                                "example": "express"
                              },
                              "applepay": {
                                "type": "object",
                                "properties": {
                                  "merchant_id": {
                                    "type": "string",
                                    "example": "merchant.mycompany.processout.com"
                                  },
                                  "country_code": {
                                    "type": "string",
                                    "example": "GB"
                                  },
                                  "supported_networks": {
                                    "type": "array",
                                    "items": {
                                      "type": "string",
                                      "example": "american express"
                                    }
                                  },
                                  "merchant_capabilities": {
                                    "type": "array",
                                    "items": {
                                      "type": "string",
                                      "example": "supports3DS"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"error_type\": \"request.validation.invalid-phone-number\",\n    \"message\": \"The phone number should not exceed 17 characters.\",\n    \"success\": false\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "error_type": {
                      "type": "string",
                      "example": "request.validation.invalid-phone-number"
                    },
                    "message": {
                      "type": "string",
                      "example": "The phone number should not exceed 17 characters."
                    },
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"success\": false,\n    \"message\": \"Could not read your project ID. Please make sure to use Basic HTTP authentication using your project ID as the username. If you have any questions, feel free to ask for help at help@processout.com!\",\n    \"error_type\": \"request.authentication.invalid\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Could not read your project ID. Please make sure to use Basic HTTP authentication using your project ID as the username. If you have any questions, feel free to ask for help at help@processout.com!"
                    },
                    "error_type": {
                      "type": "string",
                      "example": "request.authentication.invalid"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "4XX",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"error_type\": \"*Error code*\",\n    \"message\": \"*Error message*\",\n    \"success\": false\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "error_type": {
                      "type": "string",
                      "example": "*Error code*"
                    },
                    "message": {
                      "type": "string",
                      "example": "*Error message*"
                    },
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "node",
              "code": "var ProcessOut = require(\"processout\");\nvar client = new ProcessOut(\n    \"test-proj_gAO1Uu0ysZJvDuUpOGPkUBeE3pGalk3x\",\n    \"key_sandbox_mah31RDFqcDxmaS7MvhDbJfDJvjtsFTB\");\n\nclient.newInvoice().create({\n    customer_id:          \"cust_LvjCcLOVe6iWn2aeCNhNmK7RbbG6K8XF\",\n    name:                 \"Amazing item\",\n    statement_descriptor: \"amazing item\",\n    amount:               \"4.99\",\n    currency:              \"USD\",\n  \torder_id: \t\t\t\t\t\t\"#123456\"\n}).then(function(invoice) {\n    //\n\n}, function(err) {\n    // An error occured\n\n});",
              "name": "node.js"
            },
            {
              "language": "python",
              "code": "import processout\nclient = processout.ProcessOut(\n    \"test-proj_gAO1Uu0ysZJvDuUpOGPkUBeE3pGalk3x\", \n    \"key_sandbox_mah31RDFqcDxmaS7MvhDbJfDJvjtsFTB\")\n\ninvoice = client.new_invoice().create({\n    \"customer_id\":          \"cust_LvjCcLOVe6iWn2aeCNhNmK7RbbG6K8XF\",\n    \"name\":                 \"Amazing item\",\n    \"statement_descriptor\": \"amazing item\",\n    \"amount\":               \"4.99\",\n    \"currency\":              \"USD\",\n  \t\"order_id\": \t\t\t\t\t\t\"#123456\"\n})"
            },
            {
              "language": "ruby",
              "code": "require \"processout\"\nclient = ProcessOut::Client.new(\n    \"test-proj_gAO1Uu0ysZJvDuUpOGPkUBeE3pGalk3x\", \n    \"key_sandbox_mah31RDFqcDxmaS7MvhDbJfDJvjtsFTB\")\n\ninvoice = client.invoice.create(\n    \"customer_id\":        \"cust_LvjCcLOVe6iWn2aeCNhNmK7RbbG6K8XF\",\n    name:                 \"Amazing item\",\n    statement_descriptor: \"amazing item\",\n    amount:               \"4.99\",\n    currency:              \"USD\",\n  \torder_id: \t\t\t\t\t\t\"#123456\"\n)"
            },
            {
              "language": "php",
              "code": "<?php\n$client = new \\ProcessOut\\ProcessOut(\n    \"test-proj_gAO1Uu0ysZJvDuUpOGPkUBeE3pGalk3x\", \n    \"key_sandbox_mah31RDFqcDxmaS7MvhDbJfDJvjtsFTB\");\n\n$invoice = $client->newInvoice()->create(array(\n    \"customer_id\"          => \"cust_LvjCcLOVe6iWn2aeCNhNmK7RbbG6K8XF\",\n    \"name\"                 => \"Amazing item\",\n    \"statement_descriptor\" => \"amazing item\",\n    \"amount\"               => \"4.99\",\n    \"currency\"              => \"USD\",\n  \t\"order_id\" \t\t\t\t\t\t =>\"#123456\"\n));"
            },
            {
              "language": "go",
              "code": "import \"github.com/processout/processout-go\"\n\nvar client = processout.New(\n    \"test-proj_gAO1Uu0ysZJvDuUpOGPkUBeE3pGalk3x\", \n    \"key_sandbox_mah31RDFqcDxmaS7MvhDbJfDJvjtsFTB\",\n)\n\niv, err := client.NewInvoice().Create(processout.InvoiceCreateParameters{\n    Invoice: &processout.Invoice{\n        CustomerID:          processout.String(\"cust_LvjCcLOVe6iWn2aeCNhNmK7RbbG6K8XF\"),\n        Name:                processout.String(\"Amazing item\"),\n        StatementDescriptor: processout.String(\"amazing item\"),\n        Amount:              processout.String(\"4.99\"),\n        Currency:            processout.String(\"USD\"),\n      \torder_id: \t\t\t\t\t processout.String(\"#123456\"),\n    },\n})"
            }
          ],
          "samples-languages": [
            "node",
            "python",
            "ruby",
            "php",
            "go"
          ]
        }
      }
    },
    "/invoices/{invoice_id}": {
      "get": {
        "summary": "Fetch an invoice",
        "description": "",
        "operationId": "fetch-an-invoice",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Unique key to your request that will be used for idempotency",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "invoice_id",
            "in": "path",
            "description": "The invoice ID generated by ProcessOut during the invoice creation",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"invoice\": {\n        \"id\": \"iv_MyNUnrEwNf7mrXZO1x6x8eeCoTWC8OQG\",\n        \"project_id\": \"proj_IFCgGTmyClrgTOzsschN1y7GJttHVQ7S\",\n        \"subscription_id\": null,\n        \"customer_id\": \"cust_MFW0Z4jtoXLfADjPKlVRl5LxWkCTUgRw\",\n        \"token_id\": null,\n        \"details\": [\n            {\n                \"id\": \"iv_det_M2LqRkMXxkTSu4CWTMY0X4QKrzz2Urbu\",\n                \"name\": \"iPhone 14 Pro\",\n                \"type\": \"Smartphone\",\n                \"amount\": \"1000\",\n                \"quantity\": 1,\n                \"reference\": \"12221341242\",\n                \"description\": \"iPhone 11 Pro 256Gb Red blablabla\",\n                \"brand\": \"Apple\",\n                \"model\": \"14 Pro\",\n                \"discount_amount\": \"0\",\n                \"condition\": \"new\",\n                \"marketplace_merchant\": null,\n                \"marketplace_merchant_is_business\": null,\n                \"marketplace_merchant_created_at\": null,\n                \"category\": \"technology\",\n                \"metadata\": {}\n            }\n        ],\n        \"transaction_id\": \"tr_Cln3zmZ31m5Crcgz5sfggomIiMm3Mmbm\",\n        \"name\": \"Amazing Product\",\n        \"order_id\": \"123456\",\n        \"amount\": \"29\",\n        \"currency\": \"EUR\",\n        \"metadata\": {\n            \"fruit\": \"banana\"\n        },\n        \"gateway_data\": {},\n        \"exemption_reason_3ds2\": \"\",\n        \"challenge_indicator\": \"\",\n        \"sca_exemption_reason\": \"\",\n        \"statement_descriptor\": \"My Company\",\n        \"merchant_initiator_type\": null,\n        \"initiation_type\": \"MIT\",\n        \"payment_intent\": \"recurring\",\n        \"require_backend_capture\": null,\n        \"card_verification\": null,\n        \"return_url\": \"https://mycompany.com/return-url\",\n        \"cancel_url\": null,\n        \"webhook_url\": \"https://mycompany.com/webhook\",\n        \"sandbox\": true,\n        \"url\": \"https://checkout.processout.com/test-proj_IFCgGTmyClrgTOzsschN1y7GJttHVQ7S/iv_MyNUnrEwNf7mrXZO1x6x8eeCoTWC8OQG\",\n        \"created_at\": \"2023-04-21T17:57:22.807583563Z\",\n        \"expires_at\": null,\n        \"risk\": {\n            \"score\": \"100\",\n            \"is_legit\": true,\n            \"skip_gateway_rules\": false\n        },\n        \"device\": {\n            \"id\": \"112233445566\",\n            \"channel\": \"ios\",\n            \"ip_address\": \"1.1.1.1\"\n        },\n        \"shipping\": {\n            \"amount\": \"12\",\n            \"method\": \"home\",\n            \"provider\": \"DHL\",\n            \"delay\": \"express\",\n            \"address1\": \"133 Rue Lamarck\",\n            \"address2\": \"CEDEX 1\",\n            \"city\": \"Paris\",\n            \"state\": \"Ile De France\",\n            \"country_code\": \"FR\",\n            \"zip\": \"75018\",\n            \"phone\": {\n                \"number\": \"685869595\",\n                \"dialing_code\": \"0033\"\n            },\n            \"expects_shipping_at\": \"2023-04-21T17:52:47.828402061Z\",\n            \"relay_store_name\": \"none\"\n        },\n        \"incremental\": false,\n        \"tax\": {\n            \"rate\": \"1\",\n            \"amount\": \"10\"\n        },\n        \"payment_type\": null\n    },\n    \"success\": true\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "invoice": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "iv_MyNUnrEwNf7mrXZO1x6x8eeCoTWC8OQG"
                        },
                        "project_id": {
                          "type": "string",
                          "example": "proj_IFCgGTmyClrgTOzsschN1y7GJttHVQ7S"
                        },
                        "subscription_id": {},
                        "customer_id": {
                          "type": "string",
                          "example": "cust_MFW0Z4jtoXLfADjPKlVRl5LxWkCTUgRw"
                        },
                        "token_id": {},
                        "details": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "example": "iv_det_M2LqRkMXxkTSu4CWTMY0X4QKrzz2Urbu"
                              },
                              "name": {
                                "type": "string",
                                "example": "iPhone 14 Pro"
                              },
                              "type": {
                                "type": "string",
                                "example": "Smartphone"
                              },
                              "amount": {
                                "type": "string",
                                "example": "1000"
                              },
                              "quantity": {
                                "type": "integer",
                                "example": 1,
                                "default": 0
                              },
                              "reference": {
                                "type": "string",
                                "example": "12221341242"
                              },
                              "description": {
                                "type": "string",
                                "example": "iPhone 11 Pro 256Gb Red blablabla"
                              },
                              "brand": {
                                "type": "string",
                                "example": "Apple"
                              },
                              "model": {
                                "type": "string",
                                "example": "14 Pro"
                              },
                              "discount_amount": {
                                "type": "string",
                                "example": "0"
                              },
                              "condition": {
                                "type": "string",
                                "example": "new"
                              },
                              "marketplace_merchant": {},
                              "marketplace_merchant_is_business": {},
                              "marketplace_merchant_created_at": {},
                              "category": {
                                "type": "string",
                                "example": "technology"
                              },
                              "metadata": {
                                "type": "object",
                                "properties": {}
                              }
                            }
                          }
                        },
                        "transaction_id": {
                          "type": "string",
                          "example": "tr_Cln3zmZ31m5Crcgz5sfggomIiMm3Mmbm"
                        },
                        "name": {
                          "type": "string",
                          "example": "Amazing Product"
                        },
                        "order_id": {
                          "type": "string",
                          "example": "123456"
                        },
                        "amount": {
                          "type": "string",
                          "example": "29"
                        },
                        "currency": {
                          "type": "string",
                          "example": "EUR"
                        },
                        "metadata": {
                          "type": "object",
                          "properties": {
                            "fruit": {
                              "type": "string",
                              "example": "banana"
                            }
                          }
                        },
                        "gateway_data": {
                          "type": "object",
                          "properties": {}
                        },
                        "exemption_reason_3ds2": {
                          "type": "string",
                          "example": ""
                        },
                        "challenge_indicator": {
                          "type": "string",
                          "example": ""
                        },
                        "sca_exemption_reason": {
                          "type": "string",
                          "example": ""
                        },
                        "statement_descriptor": {
                          "type": "string",
                          "example": "My Company"
                        },
                        "merchant_initiator_type": {},
                        "initiation_type": {
                          "type": "string",
                          "example": "MIT"
                        },
                        "payment_intent": {
                          "type": "string",
                          "example": "recurring"
                        },
                        "require_backend_capture": {},
                        "card_verification": {},
                        "return_url": {
                          "type": "string",
                          "example": "https://mycompany.com/return-url"
                        },
                        "cancel_url": {},
                        "webhook_url": {
                          "type": "string",
                          "example": "https://mycompany.com/webhook"
                        },
                        "sandbox": {
                          "type": "boolean",
                          "example": true,
                          "default": true
                        },
                        "url": {
                          "type": "string",
                          "example": "https://checkout.processout.com/test-proj_IFCgGTmyClrgTOzsschN1y7GJttHVQ7S/iv_MyNUnrEwNf7mrXZO1x6x8eeCoTWC8OQG"
                        },
                        "created_at": {
                          "type": "string",
                          "example": "2023-04-21T17:57:22.807583563Z"
                        },
                        "expires_at": {},
                        "risk": {
                          "type": "object",
                          "properties": {
                            "score": {
                              "type": "string",
                              "example": "100"
                            },
                            "is_legit": {
                              "type": "boolean",
                              "example": true,
                              "default": true
                            },
                            "skip_gateway_rules": {
                              "type": "boolean",
                              "example": false,
                              "default": true
                            }
                          }
                        },
                        "device": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "example": "112233445566"
                            },
                            "channel": {
                              "type": "string",
                              "example": "ios"
                            },
                            "ip_address": {
                              "type": "string",
                              "example": "1.1.1.1"
                            }
                          }
                        },
                        "shipping": {
                          "type": "object",
                          "properties": {
                            "amount": {
                              "type": "string",
                              "example": "12"
                            },
                            "method": {
                              "type": "string",
                              "example": "home"
                            },
                            "provider": {
                              "type": "string",
                              "example": "DHL"
                            },
                            "delay": {
                              "type": "string",
                              "example": "express"
                            },
                            "address1": {
                              "type": "string",
                              "example": "133 Rue Lamarck"
                            },
                            "address2": {
                              "type": "string",
                              "example": "CEDEX 1"
                            },
                            "city": {
                              "type": "string",
                              "example": "Paris"
                            },
                            "state": {
                              "type": "string",
                              "example": "Ile De France"
                            },
                            "country_code": {
                              "type": "string",
                              "example": "FR"
                            },
                            "zip": {
                              "type": "string",
                              "example": "75018"
                            },
                            "phone": {
                              "type": "object",
                              "properties": {
                                "number": {
                                  "type": "string",
                                  "example": "685869595"
                                },
                                "dialing_code": {
                                  "type": "string",
                                  "example": "0033"
                                }
                              }
                            },
                            "expects_shipping_at": {
                              "type": "string",
                              "example": "2023-04-21T17:52:47.828402061Z"
                            },
                            "relay_store_name": {
                              "type": "string",
                              "example": "none"
                            }
                          }
                        },
                        "incremental": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        },
                        "tax": {
                          "type": "object",
                          "properties": {
                            "rate": {
                              "type": "string",
                              "example": "1"
                            },
                            "amount": {
                              "type": "string",
                              "example": "10"
                            }
                          }
                        },
                        "payment_type": {}
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"success\": false,\n    \"message\": \"Could not read your project ID. Please make sure to use Basic HTTP authentication using your project ID as the username. If you have any questions, feel free to ask for help at help@processout.com!\",\n    \"error_type\": \"request.authentication.invalid\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Could not read your project ID. Please make sure to use Basic HTTP authentication using your project ID as the username. If you have any questions, feel free to ask for help at help@processout.com!"
                    },
                    "error_type": {
                      "type": "string",
                      "example": "request.authentication.invalid"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"error_type\": \"resource.invoice.not-found\",\n    \"message\": \"The invoice could not be found.\",\n    \"success\": false\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "error_type": {
                      "type": "string",
                      "example": "resource.invoice.not-found"
                    },
                    "message": {
                      "type": "string",
                      "example": "The invoice could not be found."
                    },
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "4XX",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"error_type\": \"*Error code*\",\n    \"message\": \"*Error message*\",\n    \"success\": false\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "error_type": {
                      "type": "string",
                      "example": "*Error code*"
                    },
                    "message": {
                      "type": "string",
                      "example": "*Error message*"
                    },
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "node",
              "code": "var ProcessOut = require(\"processout\");\nvar client = new ProcessOut(\n    \"test-proj_gAO1Uu0ysZJvDuUpOGPkUBeE3pGalk3x\",\n    \"key_sandbox_mah31RDFqcDxmaS7MvhDbJfDJvjtsFTB\");\n\nclient.newInvoice().find(\"iv_MgeLS2Rr3ZGwjqOvDvYSuWx7ce88luXl\").then(\n    function(invoice) {\n        // The invoice was fetched\n\n    }, function(err) {\n        // The invoice could not be found\n    });",
              "name": "node.js"
            },
            {
              "language": "python",
              "code": "import processout\nclient = processout.ProcessOut(\n    \"test-proj_gAO1Uu0ysZJvDuUpOGPkUBeE3pGalk3x\", \n    \"key_sandbox_mah31RDFqcDxmaS7MvhDbJfDJvjtsFTB\")\n\ninvoice = client.new_invoice().find(\"iv_MgeLS2Rr3ZGwjqOvDvYSuWx7ce88luXl\")"
            },
            {
              "language": "ruby",
              "code": "require \"processout\"\nclient = ProcessOut::Client.new(\n    \"test-proj_gAO1Uu0ysZJvDuUpOGPkUBeE3pGalk3x\", \n    \"key_sandbox_mah31RDFqcDxmaS7MvhDbJfDJvjtsFTB\")\n\ninvoice = client.invoice.find(\"iv_MgeLS2Rr3ZGwjqOvDvYSuWx7ce88luXl\")"
            },
            {
              "language": "php",
              "code": "<?php\n$client = new \\ProcessOut\\ProcessOut(\n    \"test-proj_gAO1Uu0ysZJvDuUpOGPkUBeE3pGalk3x\", \n    \"key_sandbox_mah31RDFqcDxmaS7MvhDbJfDJvjtsFTB\");\n\n$invoice = $client->newInvoice()->find(\"iv_MgeLS2Rr3ZGwjqOvDvYSuWx7ce88luXl\");"
            },
            {
              "language": "go",
              "code": "import \"github.com/processout/processout-go\"\n\nvar client = processout.New(\n    \"test-proj_gAO1Uu0ysZJvDuUpOGPkUBeE3pGalk3x\", \n    \"key_sandbox_mah31RDFqcDxmaS7MvhDbJfDJvjtsFTB\",\n)\n\niv, err := client.NewInvoice().Find(\"iv_MgeLS2Rr3ZGwjqOvDvYSuWx7ce88luXl\")"
            }
          ],
          "samples-languages": [
            "node",
            "python",
            "ruby",
            "php",
            "go"
          ]
        }
      },
      "delete": {
        "summary": "Delete an invoice",
        "description": "Delete invoices that have not had a payment started yet.",
        "operationId": "delete-an-invoice",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Unique key to your request that will be used for idempotency",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "invoice_id",
            "in": "path",
            "description": "The invoice ID generated by ProcessOut during the invoice creation",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n   \"success\": true\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"success\": false,\n    \"message\": \"Could not read your project ID. Please make sure to use Basic HTTP authentication using your project ID as the username. If you have any questions, feel free to ask for help at help@processout.com!\",\n    \"error_type\": \"request.authentication.invalid\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Could not read your project ID. Please make sure to use Basic HTTP authentication using your project ID as the username. If you have any questions, feel free to ask for help at help@processout.com!"
                    },
                    "error_type": {
                      "type": "string",
                      "example": "request.authentication.invalid"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"error_type\": \"resource.invoice.not-found\",\n    \"message\": \"The invoice could not be found.\",\n    \"success\": false\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "error_type": {
                      "type": "string",
                      "example": "resource.invoice.not-found"
                    },
                    "message": {
                      "type": "string",
                      "example": "The invoice could not be found."
                    },
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "4XX",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"error_type\": \"*Error code*\",\n    \"message\": \"*Error message*\",\n    \"success\": false\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "error_type": {
                      "type": "string",
                      "example": "*Error code*"
                    },
                    "message": {
                      "type": "string",
                      "example": "*Error message*"
                    },
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "node",
              "code": "var ProcessOut = require(\"processout\");\nvar client = new ProcessOut(\n    \"test-proj_gAO1Uu0ysZJvDuUpOGPkUBeE3pGalk3x\",\n    \"key_sandbox_mah31RDFqcDxmaS7MvhDbJfDJvjtsFTB\");\n\nclient.newInvoice().delete(\"iv_MgeLS2Rr3ZGwjqOvDvYSuWx7ce88luXl\").then(\n    function(invoice) {\n        // The invoice was deleted\n\n    }, function(err) {\n        // The invoice could not be found\n    });",
              "name": "node.js"
            },
            {
              "language": "python",
              "code": "import processout\nclient = processout.ProcessOut(\n    \"test-proj_gAO1Uu0ysZJvDuUpOGPkUBeE3pGalk3x\", \n    \"key_sandbox_mah31RDFqcDxmaS7MvhDbJfDJvjtsFTB\")\n\ninvoice = client.new_invoice().delete(\"iv_MgeLS2Rr3ZGwjqOvDvYSuWx7ce88luXl\")"
            },
            {
              "language": "ruby",
              "code": "require \"processout\"\nclient = ProcessOut::Client.new(\n    \"test-proj_gAO1Uu0ysZJvDuUpOGPkUBeE3pGalk3x\", \n    \"key_sandbox_mah31RDFqcDxmaS7MvhDbJfDJvjtsFTB\")\n\ninvoice = client.invoice.delete(\"iv_MgeLS2Rr3ZGwjqOvDvYSuWx7ce88luXl\")"
            },
            {
              "language": "php",
              "code": "<?php\n$client = new \\ProcessOut\\ProcessOut(\n    \"test-proj_gAO1Uu0ysZJvDuUpOGPkUBeE3pGalk3x\", \n    \"key_sandbox_mah31RDFqcDxmaS7MvhDbJfDJvjtsFTB\");\n\n$invoice = $client->newInvoice()->delete(\"iv_MgeLS2Rr3ZGwjqOvDvYSuWx7ce88luXl\");"
            },
            {
              "language": "go",
              "code": "import \"github.com/processout/processout-go\"\n\nvar client = processout.New(\n    \"test-proj_gAO1Uu0ysZJvDuUpOGPkUBeE3pGalk3x\", \n    \"key_sandbox_mah31RDFqcDxmaS7MvhDbJfDJvjtsFTB\",\n)\n\niv, err := client.NewInvoice().Delete(\"iv_MgeLS2Rr3ZGwjqOvDvYSuWx7ce88luXl\")"
            }
          ],
          "samples-languages": [
            "node",
            "python",
            "ruby",
            "php",
            "go"
          ]
        }
      }
    },
    "/invoices/{invoice_id}/void": {
      "post": {
        "summary": "Void an invoice",
        "description": "",
        "operationId": "void-an-invoice",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Unique key to your request that will be used for idempotency",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "invoice_id",
            "in": "path",
            "description": "The invoice ID generated by ProcessOut during the invoice creation",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "string",
                    "description": "Amount used for partial void (optional)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"success\": true,\n    \"transaction\": {}\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "transaction": {
                      "type": "object",
                      "properties": {}
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"success\": false,\n    \"message\": \"Could not read your project ID. Please make sure to use Basic HTTP authentication using your project ID as the username. If you have any questions, feel free to ask for help at help@processout.com!\",\n    \"error_type\": \"request.authentication.invalid\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Could not read your project ID. Please make sure to use Basic HTTP authentication using your project ID as the username. If you have any questions, feel free to ask for help at help@processout.com!"
                    },
                    "error_type": {
                      "type": "string",
                      "example": "request.authentication.invalid"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"error_type\": \"resource.invoice.not-found\",\n    \"message\": \"The invoice could not be found.\",\n    \"success\": false\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "error_type": {
                      "type": "string",
                      "example": "resource.invoice.not-found"
                    },
                    "message": {
                      "type": "string",
                      "example": "The invoice could not be found."
                    },
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    }
                  }
                }
              }
            }
          },
          "410": {
            "description": "410",
            "content": {
              "application/json": {
                "examples": {
                  "Transaction error": {
                    "value": "{\n    \"error_type\": \"card.do-not-honor\",\n    \"message\": \"The bank has returned a do-not-honor error\",\n    \"success\": false\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "error_type": {
                      "type": "string",
                      "example": "card.do-not-honor"
                    },
                    "message": {
                      "type": "string",
                      "example": "The bank has returned a do-not-honor error"
                    },
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "4XX",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"error_type\": \"*Error code*\",\n    \"message\": \"*Error message*\",\n    \"success\": false\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "error_type": {
                      "type": "string",
                      "example": "*Error code*"
                    },
                    "message": {
                      "type": "string",
                      "example": "*Error message*"
                    },
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "node",
              "code": "var ProcessOut = require(\"processout\");\nvar client = new ProcessOut(\n    \"test-proj_gAO1Uu0ysZJvDuUpOGPkUBeE3pGalk3x\",\n    \"key_sandbox_mah31RDFqcDxmaS7MvhDbJfDJvjtsFTB\");\n\n// The source could also be a token tok_fKK4btSG7wd13ZZaevzhMcuNbpjcu1Zy\ninvoice.capture(\"card_1jSEVrx7oaRta1KEdxoMWbiGkK2MijrZ\").then(\n    function(transaction) {\n        // The invoice was captured and returned a transaction\n\n    }, function(err) {\n        // The invoice could not be captured\n    });",
              "name": "node.js"
            },
            {
              "language": "python",
              "code": "import processout\nclient = processout.ProcessOut(\n    \"test-proj_gAO1Uu0ysZJvDuUpOGPkUBeE3pGalk3x\", \n    \"key_sandbox_mah31RDFqcDxmaS7MvhDbJfDJvjtsFTB\")\n\n# The source could also be a token tok_fKK4btSG7wd13ZZaevzhMcuNbpjcu1Zy\ntransaction = invoice.capture(\"card_1jSEVrx7oaRta1KEdxoMWbiGkK2MijrZ\")"
            },
            {
              "language": "ruby",
              "code": "require \"processout\"\nclient = ProcessOut::Client.new(\n    \"test-proj_gAO1Uu0ysZJvDuUpOGPkUBeE3pGalk3x\", \n    \"key_sandbox_mah31RDFqcDxmaS7MvhDbJfDJvjtsFTB\")\n\n# The source could also be a token tok_fKK4btSG7wd13ZZaevzhMcuNbpjcu1Zy\ntransaction = invoice.capture(\"card_1jSEVrx7oaRta1KEdxoMWbiGkK2MijrZ\")"
            },
            {
              "language": "php",
              "code": "import \"github.com/processout/processout-go\"\n\nvar client = processout.New(\n    \"test-proj_gAO1Uu0ysZJvDuUpOGPkUBeE3pGalk3x\", \n    \"key_sandbox_mah31RDFqcDxmaS7MvhDbJfDJvjtsFTB\",\n)\n\n// The source could also be a token tok_fKK4btSG7wd13ZZaevzhMcuNbpjcu1Zy\ntr, _ := iv.Capture(\"card_1jSEVrx7oaRta1KEdxoMWbiGkK2MijrZ\")"
            },
            {
              "language": "go",
              "code": "import \"github.com/processout/processout-go\"\n\nvar client = processout.New(\n    \"test-proj_gAO1Uu0ysZJvDuUpOGPkUBeE3pGalk3x\", \n    \"key_sandbox_mah31RDFqcDxmaS7MvhDbJfDJvjtsFTB\",\n)\n\n// The source could also be a token tok_fKK4btSG7wd13ZZaevzhMcuNbpjcu1Zy\ntr, _ := iv.Authorize(\"card_1jSEVrx7oaRta1KEdxoMWbiGkK2MijrZ\", InvoiceAuthorizeParameters{\n    AutoCaptureAt: \"2022-10-02T15:00:00Z\",\n})"
            }
          ],
          "samples-languages": [
            "node",
            "python",
            "ruby",
            "php",
            "go"
          ]
        }
      }
    },
    "/invoices/{invoice_id}/refunds": {
      "post": {
        "summary": "Refund an invoice",
        "description": "",
        "operationId": "refund-an-invoice",
        "parameters": [
          {
            "name": "invoice_id",
            "in": "path",
            "description": "The invoice ID generated by ProcessOut during the invoice creation",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Unique key to your request that will be used for idempotency",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "amount"
                ],
                "properties": {
                  "amount": {
                    "type": "string",
                    "description": "Refund amount applied to the transaction."
                  },
                  "reason": {
                    "type": "string",
                    "description": "Reason for the refund (`customer_request`, `duplicate`, `fraud` or `other`).",
                    "default": "other"
                  },
                  "metadata": {
                    "type": "object",
                    "description": "Metadata related to the refund, in the form of key-value pairs (string - string).",
                    "properties": {}
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"refund\": {\n        \"id\": \"refd_F5rkWLrLw2KmzwTovfqG5YcRvtrxrjOb\",\n        \"transaction_id\": \"tr_WlfUgjdJRXGzNy6EQqPuQYpjkXwqogYM\",\n        \"amount\": \"29\",\n        \"metadata\": {},\n        \"reason\": \"customer_request\",\n        \"information\": \"\",\n        \"funding_source\": \"\",\n        \"has_failed\": false,\n        \"sandbox\": true,\n        \"created_at\": \"2023-04-24T16:19:42.771525314Z\",\n        \"invoice_detail_ids\": null\n    },\n    \"success\": true\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "refund": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "refd_F5rkWLrLw2KmzwTovfqG5YcRvtrxrjOb"
                        },
                        "transaction_id": {
                          "type": "string",
                          "example": "tr_WlfUgjdJRXGzNy6EQqPuQYpjkXwqogYM"
                        },
                        "amount": {
                          "type": "string",
                          "example": "29"
                        },
                        "metadata": {
                          "type": "object",
                          "properties": {}
                        },
                        "reason": {
                          "type": "string",
                          "example": "customer_request"
                        },
                        "information": {
                          "type": "string",
                          "example": ""
                        },
                        "funding_source": {
                          "type": "string",
                          "example": ""
                        },
                        "has_failed": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        },
                        "sandbox": {
                          "type": "boolean",
                          "example": true,
                          "default": true
                        },
                        "created_at": {
                          "type": "string",
                          "example": "2023-04-24T16:19:42.771525314Z"
                        },
                        "invoice_detail_ids": {}
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"error_type\": \"request.validation.invalid-amount\",\n    \"message\": \"No amount is available on the transaction to be refunded.\",\n    \"success\": false\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "error_type": {
                      "type": "string",
                      "example": "request.validation.invalid-amount"
                    },
                    "message": {
                      "type": "string",
                      "example": "No amount is available on the transaction to be refunded."
                    },
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"success\": false,\n  \"message\": \"Could not read your project ID. Please make sure to use Basic HTTP authentication using your project ID as the username. If you have any questions, feel free to ask for help at help@processout.com!\",\n  \"error_type\": \"request.authentication.invalid\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Could not read your project ID. Please make sure to use Basic HTTP authentication using your project ID as the username. If you have any questions, feel free to ask for help at help@processout.com!"
                    },
                    "error_type": {
                      "type": "string",
                      "example": "request.authentication.invalid"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"error_type\": \"resource.invoice.not-found\",\n    \"message\": \"The invoice could not be found.\",\n    \"success\": false\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "error_type": {
                      "type": "string",
                      "example": "resource.invoice.not-found"
                    },
                    "message": {
                      "type": "string",
                      "example": "The invoice could not be found."
                    },
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "4XX",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"error_type\": \"*Error code*\",\n  \"message\": \"*Error message*\",\n  \"success\": false\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "error_type": {
                      "type": "string",
                      "example": "*Error code*"
                    },
                    "message": {
                      "type": "string",
                      "example": "*Error message*"
                    },
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/invoices/{invoice_id}/payout": {
      "post": {
        "summary": "Payout",
        "description": "Send money to a payment method",
        "operationId": "payout-1",
        "parameters": [
          {
            "name": "invoice_id",
            "in": "path",
            "description": "The invoice ID generated by ProcessOut during the invoice creation",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Unique key to your request that will be used for idempotency",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "source"
                ],
                "properties": {
                  "source": {
                    "type": "string",
[...]
